BODY {
	margin:0px;
	padding:0px;
	text-align:left;
	font-size:85%;
	background:#f2b637;
}
#pagetop {
	background:url('/images/template/top.png') repeat;
	height:193px;
	width: auto;
}
	#inttop {
		background:url('/images/template/banner.jpg') no-repeat;
		width: 980px;
		padding-left:0px;
		padding-right:0px;
		height:193px;
		margin:auto;
	}
	#inttop label {
		display:block;
	}
#pagemiddle {
	width: auto;
	background:#ffffff;
}
	#intmiddle {
		margin:auto;
		min-height:600px;
		height:auto !important;
		height:600px;
		width: 980px;
		text-align:left;
	}
#pagebottom {
	background:url('/images/template/bottom.png');
	height:120px;
	width: auto;
	text-align:center;
}
	#intbottom {
		background:url('/images/template/bottombanner.jpg');
		height:97px;
		padding-top:25px;
		width: 980px;
		margin:auto;
		color:#ffffff;
		font-size:0.9em;
		text-align:right;
	}
	#intbottom A {
		color:#ffffff;
		text-decoration:none;
	}
.banner_message {
	position:absolute;
	height:auto;
	padding-top:10px;
	padding-left:30%;
	padding-right:30%;
	padding-bottom:10px;
	width:auto;
	text-align:center;
	background:#ffffff;
	top:0px;
	left:0px;
	border-bottom:2px solid #dc5100;
	display:none;
}
#admin_panel {
	padding:20px;
	background:#ffffff;
}
P {
	margin:0px;
}
.static_content P {
	margin:10px 0 10px 0;
}
H2, H3 {
	margin:0px;
}
.conversation {
	width:200px;
	height:31px;
	padding:2px;
	color:#ffffff;

}
.conversation_list_avatar {
	float:left;
	width:40px;
	margin-left:-100%;
}
.conversation_list_status {
	float:left;
	width:64px;
	padding-left:6px;
	margin-left:-70px;
	text-align:left;
	font-size:0.8em;
	text-indent:4px;	
}
.conversation_list_data {
	float:left;
	width:100%;
}
.conversation_list_data_inner {
	margin:0 30px 0 39px;
	height:auto;
	text-align:left;
}
#member_conversation_left {
	float:left;
	width:50%;
	height:auto;
}
#member_conversation_right {
	float:left;
	width:50%;
	height:auto;
}
#member_rating {
	width:auto;	
}
#member_rating_stars {
	float:left;
	width:auto;
	height:auto;
}
#member_rating_no {
	margin-left:80px;
	width:auto;
	text-align:left;
	text-indent:3px;
}
#member_review_rating {

}
#member_review_feedback {
	width:600px;
}
#member_review_feedback TEXTAREA {
	width:600px;
}
#member_review_stars1 {

}
#member_review_stars2 {

}
#member_stats {
	width:auto;	
}
#member_stats_avatar {
	float:left;
	width:auto;
	height:auto;
}
#member_stats_data {
	margin-left:100px;
	width:auto;
	text-align:left;
}	
#availability_section {
	width:50%;	
}
#nav_menu {
	color:#ffffff;
	text-align:left;

}
#nav_menu A {
	color:#ffffff;
	text-decoration:none;
	font-weight:normal;
	font-size:1.2em;
	float:left;
}
#nav_menu IMG {
	float:left;
	margin-left:7px;
	margin-right:7px;
	vertical-align:middle;
}
#inbox TABLE {
	width:100%;
	text-align:left;	
}
#inbox TABLE TD {
	vertical-align:top;
}
#message_form, #message_form_fields {
	width:406px;	
}
#the_message {
	height:120px;
	width:620px;
}
label.error {
	
}
#notifier {
	position:fixed;
	bottom:0px;
	right:30px;
	width:230px;
	height:230px;
	border: 1px solid #e0e0e0;
	background:#ffffff;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	display:none;
	padding:4px;
	font-size:0.9em;
}
#conversation_start {
	width:440px;
}
.home_step {
	float:left;
	height:158px;
	width:255px;
	margin-right:6px;
	background:url('/images/stepbg.png');
	padding:30px 30px 0 20px;
}
	.home_step_head {
		font-size:2em;	
	}
	.home_step_head span {
		font-weight:bold;
		font-weight:700;
	}
	.home_step_copy {
		margin-top:24px;
		height:auto;
		font-size:1.3em;
	}
	


