HTML, BODY {
	margin:0px;
	padding:0px;
	text-align:left;
	height:auto;
	font-size:95%;
	background:url('/images/template/mobile_foot.png') repeat-x;
	background-position:bottom;
}
#page {
	width:auto;
	height:auto;
	text-align:center;
	
}
#pagetop {
	position:absolute;
	top:0px;
	width:100%;
	height:50px;
	padding-top:14px;
	background:url('/images/template/mobile_head.png') repeat-x;
	background-position:top;
	
}
#pagemiddle {
	height:auto !important;
	min-height:500px;
	height:500px;
	padding-left:2%;
	padding-right:2%;
}
#pagebottom {
	width:100%;
	padding-top:30px;
	height:130px;	
}
	#intbottom {
		height:130px;
	}
#mobile_lang_nav {
	color:#ffffff;
	margin:10px 0 10px 0;
	font-size:1.2em;
}	
	#mobile_lang_nav A {
		color:#ffffff;	
	}	
P {
	margin:0px;
}
.static_content P {
	margin:10px 0 10px 0;
}
H2, H3 {
	margin:0px;
}
INPUT[type="text"],INPUT[type="password"],INPUT[type="button"],INPUT[type="submit"] {
	height:24px;
	font-size:16px;
}
.conversation {
	width:100%;
	height:35px;
	padding:0px;
	color:#ffffff;

}
.conversation_list_avatar {
	float:left;
	width:37px;
	margin-left:-100%;
}
.conversation_list_status {
	float:left;
	width:64px;
	padding-right:4px;
	margin-left:-70px;
	margin-right:2px;
	text-align:right;	
	color:#ffffff;
	height:35px;
}
.conversation_list_data {
	float:left;
	width:100%;	
}
.conversation_list_data_inner {
	margin:0 70px 0 39px;
	height:auto;
	text-align:left;
}
#member_conversation_left {
	width:100%;
	height:auto;
	border-bottom:2px solid #e0e0e0;
	margin-bottom:10px;
}
#member_conversation_right {
	width:100%;
	height:auto;
	border-bottom:2px solid #e0e0e0;
	padding-bottom:10px;
}
#member_rating {
	margin-left:35%;
	width:30%;
	height:30px;	
}
#member_rating_stars {
	float:left;
	width:auto;
	height:auto;
}
#member_rating_no {
	margin-left:100px;
	width:auto;
	text-align:right;
}
#member_review_rating {
	margin-left:10%;
	width:80%;
	height:auto;

}
#member_review_feedback {
	margin-left:15%;
	width:70%;
	height:auto;
}
#member_review_feedback TEXTAREA {
	width:100%;
}
#member_review_stars1 {
	margin:auto;
	width:82px;
	height:20px;
}
#member_review_stars2 {
	margin:auto;
	width:102px;
	height:20px;
}
#member_stats {
	width:50%;
	margin-left:25%;	
}
#member_stats_avatar {
	width:auto;
	height:auto;
}
#member_stats_data {
	margin-left:0px;
	width:auto;
	text-align:center;
	font-size:0.8em;
}
#availability_section {
	width:auto;	
}
#nav_menu {
	color:#ffffff;
	height:30px;
	text-align:center;
}
#nav_menu A {
	color:#ffffff;
	text-decoration:none;
	font-weight:normal;
	font-size:1.2em;
}
#nav_menu IMG {
	margin-left:5px;
	margin-right:5px;
}
#inbox TABLE {
	width:100%;
	text-align:left;	
}
#inbox TABLE TD {
	vertical-align:top;
	padding-bottom:6px;
}
#message_form, #message_form_fields {
	width:100%;	
}
#the_message {
	height:120px;
	width:80%;
}
label.error {
	display:block;	
}
#notifier {
	position:fixed;
	bottom:0px;
	right:50%;
	margin-right:-115px;
	width:230px;
	height:230px;
	border: 1px solid #e0e0e0;
	background:#ffffff;
	display:none;
	padding:4px;
	font-size:0.9em;
	text-align:left;
}
#conversation_start {
	width:100%;
}
.enhance {
	font-size:1.2em;	
}
.dehance {
	font-size:0.8em;
}
