BODY {
	font-family: Arial, Helvetica, sans-serif;
	color:#26353a;	
}
A {
	color:#26353a;
}
TABLE {
	font-size:1em;
}

IMG {
	border:0px;
	border:none;
}
#intmiddle INPUT[type='text'],INPUT[type='password'] {
	border:1px solid #e0e0e0;
}
#user_register_form INPUT[type='text'],INPUT[type='password'] {
	border:1px solid #e0e0e0;
	width:300px;
}
#admin_login INPUT[type='text'],INPUT[type='password'] {
	border:1px solid #e0e0e0;
	width:300px;
}
.text_hint {
	background:red;
	color:#ffffff;
	font-size:0.8em;
}
.clickable {
	cursor:pointer;
	text-decoration:underline;
	color:#26353a;
}
.clickable_nd {
	cursor:pointer;
	text-decoration:none;
	color:#26353a;
}
TEXTAREA {
	border:1px solid #e0e0e0;
}
.ajax-loader {
	height: 52px; 
	width: 112px;
	background:url('/images/ajax-loader-bg.png');
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-26px;
	margin-left:-56px;
	display:none;
}
	.ajax-loader IMG {
		position:fixed;
		left:50%;
		top:50%;
		margin-top:-7px;
		margin-left:-7px;

	}
	#ajax_submit_error {
		display:none;
	}
#admin_container textarea {
	width:500px;
	height:240px;
	padding:2px;
}
.hidden_block {
	display:none;
}
.dir_header {
	padding:2px;
	margin-right:2px;
	margin-bottom:4px;
	width:auto;
	height:16px;
	text-align:left;
	border:1px solid #26353a;
	background: #26353a;
	color:#ffffff;
}
.dir_letter {
	float:left;
	padding:2px;
	margin-right:2px;
	width:16px;
	height:16px;
	text-align:center;
	border:1px solid #e0e0e0;
	cursor:pointer;
}
.dir_letter_selected {
	float:left;
	padding:2px;
	margin-right:2px;
	width:16px;
	height:16px;
	text-align:center;
	border:1px solid #26353a;
	background: #26353a;
	color:#ffffff;
	cursor:pointer;
}
.post_header {
	padding:0.5%;
	width:auto;
	height:auto;
	text-align:left;
	background: #e0e0e0;
	margin-bottom:4px;
}
	.conversation A {
		color:#ffffff;
	}
	.proposed {
		background:#70bd31;
	}
	.confirmed {
		background:#4f9519;
	}
	.now, .immediate {
		background:#4f9519;
	}
	.declined,.cancelled {
		background:#dc5100;
	}
	.amended {
		background:#e78850;
	}
.discussion_summary {
	border: 1px solid #e0e0e0;
	height:auto;
	width:auto;
	padding:3px;
	margin-bottom:3px;
	font-size:0.9em;
}
	.discussion_summary A {
		color:#DC5100;
	}
	.discussion_summary_col {
		float:left;
		height:auto;
		border-left:1px solid #e0e0e0;
		padding-left:3px;
	}
	.quote {
		background:#f3f3f3;
		border:1px solid #e0e0e0;
		margin-left:5%;
		margin-right:5%;
		margin-top:0px;
		margin-bottom:0px;
		padding:3px;

	}

.small_avatar IMG {
	width:35px;
	height:35px;
}
.extra_small_avatar IMG {
	width:18px;
	height:18px;
}
.inbox TD {
	padding-right:30px;
	padding-left:6px;
	border-left:1px solid #e0e0e0;
}
.inbox_message {
	display:none;
}
.inbox_message TD {
	padding-top:10px;
	padding-bottom:30px;
}
.delete_something {
	color:#dc5100;
}
.error {
	color:#dc5100;
	font-size:0.8em;

}
.highlight {
	color:#dc5100;
}
.highlight2 {
	color:#74ac13;
}
.inputbg {
	background:url('/images/inputbg.png');
	border:0px;	
}
#home_graphic {
	width:445px;
	height:324px;
	background:url('/images/home.jpg') no-repeat;
	padding: 70px 0 0 520px;
	font-size:2em;
}
/**JQUERY UI**/
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.greybar {
	height:4px;
	width:auto;
	border-bottom:1px solid #e0e0e0;
	margin-bottom:3px;
}
.thickgreybar {
	height:4px;
	width:auto;
	border-bottom:4px solid #e0e0e0;
	margin-bottom:3px;
}

.flash-suspend {
	display: block
}