	<br><br>

	<div id="notifier">
		<div id="close" class="clear_heartbeat clickable" style="text-align:right;">X</div>
		<div id="notifier_inner"></div>
	</div>

	{if ($me)}
		<input type="hidden" id="heartbeat_state" value="{$heartbeat_state}">
		<script>heartbeat()</script>
	{/if}

</div>


</body>
</html>
