{include file="admin_header.tpl"}

<div id='admin_container'>

	<b>FAQ Management</b><br>
	<div class="greybar"></div>
	<div style='height:20px;'></div>

	Choose which category you wish each FAQ to be in

	<div style='height:20px;'></div>

	<form id='faq_form' name='faq_form' method='post' action='/admin/faq/update'>

	<div class='submit' style='width;auto;text-align:left;margin-left:0px;'><input type="submit" class="button-primary" name="faq_submit" VALUE="Submit"></div>

	<div style='height:20px;'></div>

	{foreach item=v key=k from=$questions}

		{if (!isset($data.$k))}{$cat_no = 1}{else}{$cat_no = $data.$k}{/if}

		{$v}<br>
		{html_options name="cat[{$k}]" id="cat_{$k}" options=$categories selected=$cat_no}<br> 

	{/foreach}

	<div style='height:20px;'></div>

	<div class='submit' style='width;auto;text-align:left;margin-left:0px;'><input type="submit" class="button-primary" name="faq_submit" VALUE="Submit"></div>

	</form>

</div>

{include file="admin_footer.tpl"}
