{include file="admin_header.tpl"}

<div id='admin_container'>

	<b>Login</b><br>
	<div style='height:20px;'></div>

	<form id='admin_login' name='admin_login' method='post'>

	Username:<br>
	<input type="text" name="username" id="username" class="required"><br>
	Password:<br>
	<input type="password" name="password" id="password" class="required"><br>

	<div style='height:20px;'></div>

	<input type="submit" class="button-primary" name="admin_login" id="admin_login" VALUE="Login">

	<div style='height:20px;'></div>

	<a href="/">Back to site</a>

	</form>

</div>

<div style='height:20px;'></div>

{if isset($process_message)}
	{$process_message}
{/if}


{include file="admin_footer.tpl"}
