<script src="/inc/js/jquery-1.7.2.min.js?v=00005" language="javascript" type="text/javascript"></script>
<script src="/inc/js/main.js?v=000063" language="javascript" type="text/javascript"></script>
<script src="/inc/js/init.js?v=000056" language="javascript" type="text/javascript"></script>
<script src="/inc/js/admin.js?v=00005" language="javascript" type="text/javascript"></script>

<script type="text/javascript" src="/inc/js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" src="/inc/js/jcrop/js/jquery.Jcrop.min.js"></script>
<script type="text/javascript" src="/inc/js/starrating/jquery.rating.pack.js"></script>
<script type="text/javascript" src="/inc/js/starrating/jquery.MetaData.js"></script>
<script type="text/javascript" src="/inc/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/inc/js/ui/jquery-ui-1.8.23.custom.min.js"></script>

<script type="text/javascript" src="/inc/js/timezone/jstz.min.js"></script>

<script type="text/javascript" src="/inc/js/social_likes/social-likes.min.js"></script>

