{config_load file="test.conf" section="setup"}

{include file="header.tpl" title=foo}

<a href="/admin/text/update">Text update</a><br>
<a href="/admin/config/update">Config update</a><br>
<a href="/admin/data/update">Data update</a><br>
<a href="/admin/content/update">Static content update</a><br>
<a href="/user/dashboard">Dashboard</a><br>
<a href="/user/profile">Profile</a><br>
<a href="/register">Register</a><br>
<a href="/login">Login</a><br>
<a href="/logout">Logout</a><br>

{include file="footer.tpl"}

