<fb:share-button href="http://www.speaktalkchat.com/" type="button" style="display: block; float: left; margin-right: 4px;"></fb:share-button>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId={$config.facebook->data->login_app_id->value}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.speaktalkchat.com/" data-count="none"  style="display: block; float: left;">Tweet</a>
<script>
!function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0], p=/^http:/.test(d.location) ? 'http' : 'https';
    if(!d.getElementById(id)){
	js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
    }
}
(document, 'script', 'twitter-wjs');
</script>


<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>

<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.speaktalkchat.com/" style="display: block; float: left;"></div>