<div id="tz_update_form" class="highlight" style="font-size:0.9em;display:none;">

<img src="/images/yellowwarn.png">
{$text.$selected_language.messages.tz_update_warning->text}

<div style="height:10px;"></div>

<input type="submit" id="update_offset_button" value="{$text.$selected_language.forms.update_prompt->text}">




</div>
