	<div style="height:8px;"></div>
	<div style="height:110px;width:auto;">
		
		<form name="user_register_form" id="user_register_form" method="post" class="validation_required" action="/login">
	
		<div style="float:right;width:400px;">
		
			<table style="width:100%;" border="0">
				<tr>
					<td colspan="2" style="text-align:right;">
					<div class="fb-login-button" scope="email,user_birthday" style="height:22px;width:auto;margin-right:0px;">{$text.$selected_language.forms.login_with_facebook->text}</div><br>
					</td>
				</tr>
				<tr style="font-size:0.9em;">
					<td style="text-align:right;width:50%;height:auto;" valign="top">	
					<span style="font-size:1em;">{$text.$selected_language.forms.email_prompt->text}</span><br>
					<input style="width:95%;height:12px;" type="text" name="me[email]" id="email_address" class="required email" style="background:#ffffff; position: relative; text-indent: 2px;margin-bottom:2px;">
					</td>
					<td style="text-align:right;height:auto;" valign="top">
					<span style="font-size:1em;">{$text.$selected_language.forms.password_prompt->text}</span><br>
					<input style="width:95%;height:12px;" type="password" name="me[password]" id="password" class="required" style="background:#ffffff; position: relative; text-indent: 2px;margin-bottom:2px;"> 
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:right;font-size:0.9em;">
					<span id="submit_login" class="clickable_nd highlight"><b>{$text.$selected_language.forms.login_prompt->text}</b></span> | 						
					
					<a class="clickable_nd highlight" href="/user/password">{$text.$selected_language.forms.forgot_password->text}</a>
					</td>
				</tr>
			</table>
			
			<div style="height:0px;clear:both;font-size:0.7em;text-align:right;padding-right:3px;" class="highlight">
				{if isset($process_message)}
					{$process_message}
				{/if}
			</div>	
		</div>
		<br style="clear:both;">
		
		</form>	
		
	</div>
	
